In [2]:
#Import dependencies
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
from scipy.stats import linregress
import numpy as np   
from bs4 import BeautifulSoup as bs  
import os 
!pip install html5lib
import html5lib as html
#!pip install webdriver_manager
#!pip install splinter
#!pip install lxml
#!pip install bs4

Requirement already satisfied: html5lib in c:\users\12254\anaconda3\envs\pythondata\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\12254\anaconda3\envs\pythondata\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\users\12254\anaconda3\envs\pythondata\lib\site-packages (from html5lib) (0.5.1)

In [3]:
#import html5lib
document = html.parse("<p>Hello World!")
print(document)

<Element '{http://www.w3.org/1999/xhtml}html' at 0x0000028AF36B3188>

In [4]:
#import html5lib
with open("Data/2016-table2o.html", "rb") as f:
    document = html.parse(f)

print(document)

<Element '{http://www.w3.org/1999/xhtml}html' at 0x0000028AF82F8DB8>

In [5]:
#Read CSV file for 1st data source Vaccine Coverage and Exemptions among Kindergarteners
coverage_exmpt_file = "Data\Vaccination_Coverage_and_Exemptions_among_Kindergartners.csv"
coverage_exmpt_file_df = pd.read_csv(coverage_exmpt_file, encoding="ISO-8859-1")
coverage_exmpt_file_df.head(100)

,Vaccine/Exemption,Dose,Geography Type,Geography,School Year,Estimate (%),Population Size,Percent Surveyed,Footnotes,Number of Exemptions,Survey Type
0,MMR,NaN,States,Alabama,2009-10,94.0,75358.0,100.0,â¥. *. **,NaN,Census
1,MMR,NaN,States,Alaska,2009-10,NaN,9641.0,76.4,NaN,NaN,Voluntary response
2,MMR,NaN,States,Arizona,2009-10,95.0,89287.0,93.9,NaN,NaN,Census
3,MMR,NaN,States,Arkansas,2009-10,98.3,34733.0,100.0,*,NaN,Census
4,MMR,NaN,States,California,2009-10,93.6,507191.0,100.0,*,NaN,Census
...,...,...,...,...,...,...,...,...,...,...,...
95,MMR,NaN,States,South Dakota,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
96,MMR,NaN,States,Tennessee,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
97,MMR,NaN,States,Texas,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
98,MMR,NaN,National,U.S. Median,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
99,MMR,NaN,States,Utah,2010-11,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Filter only for chickenpox vaccine (varicella)
chickenpox_df = coverage_exmpt_file_df.loc[coverage_exmpt_file_df['Vaccine/Exemption'] == 'Varicella, unknown disease history']
chickenpox_df.head(100)

,Vaccine/Exemption,Dose,Geography Type,Geography,School Year,Estimate (%),Population Size,Percent Surveyed,Footnotes,Number of Exemptions,Survey Type
1154,"Varicella, unknown disease history",1 Dose,States,Alabama,2009-10,94.0,75358.0,100.0,â¥. *. **,NaN,Census
1155,"Varicella, unknown disease history",1 Dose,States,Alaska,2009-10,NaN,9641.0,76.4,NaN,NaN,Voluntary response
1156,"Varicella, unknown disease history",1 Dose,States,Arizona,2009-10,97.5,89287.0,93.9,NaN,NaN,Census
1157,"Varicella, unknown disease history",1 Dose,States,Arkansas,2009-10,98.3,34733.0,100.0,*,NaN,Census
1158,"Varicella, unknown disease history",1 Dose,States,California,2009-10,96.6,507191.0,100.0,*,NaN,Census
...,...,...,...,...,...,...,...,...,...,...,...
1249,"Varicella, unknown disease history",1 Dose,States,South Dakota,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
1250,"Varicella, unknown disease history",1 Dose,States,Tennessee,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
1251,"Varicella, unknown disease history",1 Dose,States,Texas,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
1252,"Varicella, unknown disease history",1 Dose,National,U.S. Median,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
1253,"Varicella, unknown disease history",1 Dose,States,Utah,2010-11,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Check Survey Types
#chickepox_df_filtered_test = chickenpox_df['Survey Type'].value_counts()
#chickepox_df_filtered_test

In [8]:
#Filter out Random Sample
chickepox_df_filtered_RS_df = chickenpox_df.loc[chickenpox_df['Survey Type'] != 'Random Sample']
chickepox_df_filtered_RS_df.head()

,Vaccine/Exemption,Dose,Geography Type,Geography,School Year,Estimate (%),Population Size,Percent Surveyed,Footnotes,Number of Exemptions,Survey Type
1154,"Varicella, unknown disease history",1 Dose,States,Alabama,2009-10,94.0,75358.0,100.0,â¥. *. **,NaN,Census
1155,"Varicella, unknown disease history",1 Dose,States,Alaska,2009-10,NaN,9641.0,76.4,NaN,NaN,Voluntary response
1156,"Varicella, unknown disease history",1 Dose,States,Arizona,2009-10,97.5,89287.0,93.9,NaN,NaN,Census
1157,"Varicella, unknown disease history",1 Dose,States,Arkansas,2009-10,98.3,34733.0,100.0,*,NaN,Census
1158,"Varicella, unknown disease history",1 Dose,States,California,2009-10,96.6,507191.0,100.0,*,NaN,Census

In [9]:
#Filter out Not Conducted Survey Types
chickepox_df_filtered_NC_df = chickepox_df_filtered_RS_df.loc[chickepox_df_filtered_RS_df['Survey Type'] != 'Not Conducted']
chickepox_df_filtered_NC_df.head(100)

,Vaccine/Exemption,Dose,Geography Type,Geography,School Year,Estimate (%),Population Size,Percent Surveyed,Footnotes,Number of Exemptions,Survey Type
1154,"Varicella, unknown disease history",1 Dose,States,Alabama,2009-10,94.0,75358.0,100.0,â¥. *. **,NaN,Census
1155,"Varicella, unknown disease history",1 Dose,States,Alaska,2009-10,NaN,9641.0,76.4,NaN,NaN,Voluntary response
1156,"Varicella, unknown disease history",1 Dose,States,Arizona,2009-10,97.5,89287.0,93.9,NaN,NaN,Census
1157,"Varicella, unknown disease history",1 Dose,States,Arkansas,2009-10,98.3,34733.0,100.0,*,NaN,Census
1158,"Varicella, unknown disease history",1 Dose,States,California,2009-10,96.6,507191.0,100.0,*,NaN,Census
...,...,...,...,...,...,...,...,...,...,...,...
1249,"Varicella, unknown disease history",1 Dose,States,South Dakota,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
1250,"Varicella, unknown disease history",1 Dose,States,Tennessee,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
1251,"Varicella, unknown disease history",1 Dose,States,Texas,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
1252,"Varicella, unknown disease history",1 Dose,National,U.S. Median,2010-11,NaN,NaN,NaN,NaN,NaN,NaN
1253,"Varicella, unknown disease history",1 Dose,States,Utah,2010-11,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
chickepox_df_filtered_NaN_df = chickepox_df_filtered_NC_df.loc[chickepox_df_filtered_NC_df['Survey Type'] != 'NaN']
chickepox_df_filtered_NaN_df

,Vaccine/Exemption,Dose,Geography Type,Geography,School Year,Estimate (%),Population Size,Percent Surveyed,Footnotes,Number of Exemptions,Survey Type
1154,"Varicella, unknown disease history",1 Dose,States,Alabama,2009-10,94.0,75358.0,100.0,â¥. *. **,NaN,Census
1155,"Varicella, unknown disease history",1 Dose,States,Alaska,2009-10,NaN,9641.0,76.4,NaN,NaN,Voluntary response
1156,"Varicella, unknown disease history",1 Dose,States,Arizona,2009-10,97.5,89287.0,93.9,NaN,NaN,Census
1157,"Varicella, unknown disease history",1 Dose,States,Arkansas,2009-10,98.3,34733.0,100.0,*,NaN,Census
1158,"Varicella, unknown disease history",1 Dose,States,California,2009-10,96.6,507191.0,100.0,*,NaN,Census
...,...,...,...,...,...,...,...,...,...,...,...
2158,"Varicella, unknown disease history",2 Doses,States,Virginia,2019-20,93.3,99399.0,1.2,â,NaN,Stratified 2-stage cluster sample
2159,"Varicella, unknown disease history",2 Doses,States,Washington,2019-20,92.7,87757.0,91.9,Â§,NaN,Census
2160,"Varicella, unknown disease history",2 Doses,States,West Virginia,2019-20,97.8,17114.0,49.6,Â¶,NaN,Voluntary response
2161,"Varicella, unknown disease history",2 Doses,States,Wisconsin,2019-20,91.6,67391.0,2.6,â .â¡.Â§,NaN,Stratified 2-stage cluster sample
2162,"Varicella, unknown disease history",2 Doses,States,Wyoming,2019-20,85.6,7913.0,100.0,*,NaN,Census

In [11]:
#Filter table for years 2016 - 2019
chickepox_df_filtered_NaN_df['Year'] = pd.to_numeric(chickepox_df_filtered_NaN_df['School Year'].str[:4])
#chickepox_df_filtered_NaN_df = chickepox_df_filtered_NaN_df.drop(columns=['School Year - Year'])
chickepox_df_filtered_NaN_df.reset_index()
chickepox_df_filtered_Years = chickepox_df_filtered_NaN_df.loc[(chickepox_df_filtered_NaN_df['Year']) >= 2016]
chickepox_df_filtered_Years

,Vaccine/Exemption,Dose,Geography Type,Geography,School Year,Estimate (%),Population Size,Percent Surveyed,Footnotes,Number of Exemptions,Survey Type,Year
1524,"Varicella, unknown disease history",1 Dose,States,Alabama,2016-17,93.8,58394.0,100.0,â¥.*,NaN,Census,2016
1525,"Varicella, unknown disease history",1 Dose,States,Arizona,2016-17,96.7,83627.0,100.0,*,NaN,Census,2016
1526,"Varicella, unknown disease history",1 Dose,States,California,2016-17,98.5,575305.0,97.8,â¡,NaN,Census,2016
1527,"Varicella, unknown disease history",1 Dose,States,Hawaii,2016-17,95.3,16325.0,6.7,NaN,NaN,Stratified 2-stage cluster sample,2016
1528,"Varicella, unknown disease history",1 Dose,States,Maine,2016-17,96.7,13834.0,90.1,NaN,NaN,Voluntary response (public). census (private),2016
...,...,...,...,...,...,...,...,...,...,...,...,...
2158,"Varicella, unknown disease history",2 Doses,States,Virginia,2019-20,93.3,99399.0,1.2,â,NaN,Stratified 2-stage cluster sample,2019
2159,"Varicella, unknown disease history",2 Doses,States,Washington,2019-20,92.7,87757.0,91.9,Â§,NaN,Census,2019
2160,"Varicella, unknown disease history",2 Doses,States,West Virginia,2019-20,97.8,17114.0,49.6,Â¶,NaN,Voluntary response,2019
2161,"Varicella, unknown disease history",2 Doses,States,Wisconsin,2019-20,91.6,67391.0,2.6,â .â¡.Â§,NaN,Stratified 2-stage cluster sample,2019
2162,"Varicella, unknown disease history",2 Doses,States,Wyoming,2019-20,85.6,7913.0,100.0,*,NaN,Census,2019

In [60]:
#Drop unnecessary columns
chickepox_df_filtered_Years.reset_index(inplace =True)
#chickepox_df_filtered_Years.drop(columns='Index')
chickepox_df_filtered_Years.drop(columns='Footnotes')
chickepox_df_filtered_Years

,index,Vaccine/Exemption,Dose,Geography Type,Geography,School Year,Estimate (%),Population Size,Percent Surveyed,Footnotes,Number of Exemptions,Survey Type,Year
0,1524,"Varicella, unknown disease history",1 Dose,States,Alabama,2016-17,93.8,58394.0,100.0,â¥.*,NaN,Census,2016
1,1525,"Varicella, unknown disease history",1 Dose,States,Arizona,2016-17,96.7,83627.0,100.0,*,NaN,Census,2016
2,1526,"Varicella, unknown disease history",1 Dose,States,California,2016-17,98.5,575305.0,97.8,â¡,NaN,Census,2016
3,1527,"Varicella, unknown disease history",1 Dose,States,Hawaii,2016-17,95.3,16325.0,6.7,NaN,NaN,Stratified 2-stage cluster sample,2016
4,1528,"Varicella, unknown disease history",1 Dose,States,Maine,2016-17,96.7,13834.0,90.1,NaN,NaN,Voluntary response (public). census (private),2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,2158,"Varicella, unknown disease history",2 Doses,States,Virginia,2019-20,93.3,99399.0,1.2,â,NaN,Stratified 2-stage cluster sample,2019
261,2159,"Varicella, unknown disease history",2 Doses,States,Washington,2019-20,92.7,87757.0,91.9,Â§,NaN,Census,2019
262,2160,"Varicella, unknown disease history",2 Doses,States,West Virginia,2019-20,97.8,17114.0,49.6,Â¶,NaN,Voluntary response,2019
263,2161,"Varicella, unknown disease history",2 Doses,States,Wisconsin,2019-20,91.6,67391.0,2.6,â .â¡.Â§,NaN,Stratified 2-stage cluster sample,2019
264,2162,"Varicella, unknown disease history",2 Doses,States,Wyoming,2019-20,85.6,7913.0,100.0,*,NaN,Census,2019

In [13]:
#Scrape data from HTML data
#Create paths to the html templates for each page
HTML_2016_template = os.path.join ("Data","2016-table2o.html")
HTML_2017_template = os.path.join ("Data","2017-table2o.html")
HTML_2018_template = os.path.join ("Data","2018-table2o.html")
HTML_2019_template = os.path.join ("Data","2019-table2r.html")

In [14]:
#Read HTML tables
#soup = bs(HTML_2016_template, 'html')
# with open(HTML_2016_template, "rb") as f:
#     table_2016 = html.parse(f)

In [15]:
#Read HTML using pandas and export into tables
table_2016 = pd.read_html(HTML_2016_template)
table_2017 = pd.read_html(HTML_2017_template)
table_2018 = pd.read_html(HTML_2018_template)
table_2019 = pd.read_html(HTML_2019_template)

#print(table_2016)

In [16]:
#Check length of each table list
print(len(table_2016),len(table_2017), len(table_2018), len(table_2019))

1 1 1 1

In [17]:
#Create dataframes for each table and add a year column
#2016
df2016 = table_2016[0]
df2016.columns = ["Reporting Area","Typhoid Fever","VNC-interm SA","VNC-resistant SA", "Varicella Morbidity","Varicella Mortality","Vibriosis Total","Vibriosis Confirmed","Vibriosis Probable"]
df2016['Year'] = "2016"
df2016.head()

,Reporting Area,Typhoid Fever,VNC-interm SA,VNC-resistant SA,Varicella Morbidity,Varicella Mortality,Vibriosis Total,Vibriosis Confirmed,Vibriosis Probable,Year
0,United States,376,108,—,8953,3,1273,1241,32,2016
1,New England,21,2,—,816,—,104,102,2,2016
2,Connecticut,7,—,—,113,—,17,17,—,2016
3,Maine,1,1,—,228,—,7,7,—,2016
4,Massachusetts,12,1,—,288,N,63,62,1,2016

In [18]:
#2017
df2017 = table_2017[0]
df2017.columns = ["Reporting Area","Typhoid Fever","VNC-interm SA","VNC-resistant SA", "Varicella Morbidity","Varicella Mortality","Vibriosis Total","Vibriosis Confirmed","Vibriosis Probable"]
df2017['Year'] = "2017"
df2017.head()

,Reporting Area,Typhoid Fever,VNC-interm SA,VNC-resistant SA,Varicella Morbidity,Varicella Mortality,Vibriosis Total,Vibriosis Confirmed,Vibriosis Probable,Year
0,United States,419,109,3,8775,2,2085,1497,588,2017
1,New England,20,2,1,912,1,153,140,13,2017
2,Connecticut,2,1,—,111,1,47,39,8,2017
3,Maine,—,—,—,198,—,7,7,—,2017
4,Massachusetts,15,1,1,386,—,72,71,1,2017

In [20]:
#2018
df2018 = table_2018[0]
df2018.columns = ["Reporting Area","Typhoid Fever","VNC-interm SA","VNC-resistant SA", "Varicella Morbidity","Varicella Mortality","Vibriosis Total","Vibriosis Confirmed","Vibriosis Probable"]
df2018['Year'] = "2018"
df2018.head()

,Reporting Area,Typhoid Fever,VNC-interm SA,VNC-resistant SA,Varicella Morbidity,Varicella Mortality,Vibriosis Total,Vibriosis Confirmed,Vibriosis Probable,Year
0,United States,401,85,—,8201,6,2964,1822,1142,2018
1,New England,23,1,—,933,—,185,147,38,2018
2,Connecticut,5,—,—,179,—,56,30,26,2018
3,Maine,—,—,—,252,—,14,14,—,2018
4,Massachusetts,17,1,—,289,—,83,79,4,2018

In [30]:
df2019 = table_2019[0]
df2019
#df2019.columns = ["Reporting Area","VNC-interm SA","VNC-resistant SA", "Varicella Morbidity","Varicella Mortality","Vibriosis Total","Vibriosis Confirmed","Vibriosis Probable"]
df2019['Year'] = "2019"
df2019.head()

,Reporting Area,VNC-interm SA,VNC-resistant SA,Varicella Morbidity,Varicella Mortality,Vibriosis Total,Vibriosis Confirmed,Vibriosis Probable,Year
0,"U.S. Residents, excluding U.S. Territories",76,3,8297,6,2851,1651,1200,2019
1,New England,1,1,647,—,182,142,40,2019
2,Connecticut,—,—,117,—,66,45,21,2019
3,Maine,—,—,93,—,9,8,1,2019
4,Massachusetts,1,1,301,—,90,76,14,2019

In [32]:
#drop unnecessary columns
df2016.drop(columns=['Typhoid Fever','VNC-interm SA','VNC-resistant SA','Vibriosis Total','Vibriosis Confirmed','Vibriosis Probable'])
df2017.drop(columns=['Typhoid Fever','VNC-interm SA','VNC-resistant SA','Vibriosis Total','Vibriosis Confirmed','Vibriosis Probable'])
df2018.drop(columns=['Typhoid Fever','VNC-interm SA','VNC-resistant SA','Vibriosis Total','Vibriosis Confirmed','Vibriosis Probable'])
df2019.drop(columns=['VNC-interm SA','VNC-resistant SA','Vibriosis Total','Vibriosis Confirmed','Vibriosis Probable'])

,Reporting Area,Varicella Morbidity,Varicella Mortality,Year
0,"U.S. Residents, excluding U.S. Territories",8297,6,2019
1,New England,647,—,2019
2,Connecticut,117,—,2019
3,Maine,93,—,2019
4,Massachusetts,301,—,2019
...,...,...,...,...
63,American Samoa,N,—,2019
64,Commonwealth of Northern Mariana Islands,—,—,2019
65,Guam,18,—,2019
66,Puerto Rico,83,—,2019
67,U.S. Virgin Islands,10,—,2019

In [51]:
#Merge dataframes into one dataframe
dataframes_list = [df2016, df2017, df2018, df2019]

#new dataframe to store append result
chickenpox_cases_df = pd.DataFrame()

for df in dataframes_list:
    chickenpox_cases_df = chickenpox_cases_df.append(dataframes_list)

chickenpox_cases_df.head(-5)

,Reporting Area,Typhoid Fever,VNC-interm SA,VNC-resistant SA,Varicella Morbidity,Varicella Mortality,Vibriosis Total,Vibriosis Confirmed,Vibriosis Probable,Year
0,United States,376,108,—,8953,3,1273,1241,32,2016
1,New England,21,2,—,816,—,104,102,2,2016
2,Connecticut,7,—,—,113,—,17,17,—,2016
3,Maine,1,1,—,228,—,7,7,—,2016
4,Massachusetts,12,1,—,288,N,63,62,1,2016
...,...,...,...,...,...,...,...,...,...,...
58,California,NaN,N,N,39,—,285,171,114,2019
59,Hawaii,NaN,1,—,42,—,46,44,2,2019
60,Oregon,NaN,N,N,N,1,37,30,7,2019
61,Washington,NaN,N,—,N,—,159,125,34,2019
62,U.S. Territories,NaN,—,5,111,—,1,1,—,2019

In [66]:
#drop unncessary columns
chickenpox_cases_df.drop(columns=['Typhoid Fever','VNC-interm SA','VNC-resistant SA','Vibriosis Total','Vibriosis Confirmed','Vibriosis Probable'])
#chickenpox_cases_df.reset_index(inplace=False)

,Reporting Area,Varicella Morbidity,Varicella Mortality,Year
0,United States,8953,3,2016
1,New England,816,—,2016
2,Connecticut,113,—,2016
3,Maine,228,—,2016
4,Massachusetts,288,N,2016
...,...,...,...,...
63,American Samoa,N,—,2019
64,Commonwealth of Northern Mariana Islands,—,—,2019
65,Guam,18,—,2019
66,Puerto Rico,83,—,2019
67,U.S. Virgin Islands,10,—,2019

In [83]:
chickenpox_cases_groupedby_df = chickenpox_cases_df.groupby(['Year'])
#Merge vaccinations table and cases table together based on date
chickepox_df_filtered_Years.join(chickenpox_cases_df, on=["Year"], lsuffix="_vaccines", rsuffix="_cases")
#chickenpox_cases_groupedby_df.head(100)

,index,Vaccine/Exemption,Dose,Geography Type,Geography,School Year,Estimate (%),Population Size,Percent Surveyed,Footnotes,...,Reporting Area,Typhoid Fever,VNC-interm SA,VNC-resistant SA,Varicella Morbidity,Varicella Mortality,Vibriosis Total,Vibriosis Confirmed,Vibriosis Probable,Year_cases
0,1524,"Varicella, unknown disease history",1 Dose,States,Alabama,2016-17,93.8,58394.0,100.0,â¥.*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1525,"Varicella, unknown disease history",1 Dose,States,Arizona,2016-17,96.7,83627.0,100.0,*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1526,"Varicella, unknown disease history",1 Dose,States,California,2016-17,98.5,575305.0,97.8,â¡,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1527,"Varicella, unknown disease history",1 Dose,States,Hawaii,2016-17,95.3,16325.0,6.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1528,"Varicella, unknown disease history",1 Dose,States,Maine,2016-17,96.7,13834.0,90.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,2158,"Varicella, unknown disease history",2 Doses,States,Virginia,2019-20,93.3,99399.0,1.2,â,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,2159,"Varicella, unknown disease history",2 Doses,States,Washington,2019-20,92.7,87757.0,91.9,Â§,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,2160,"Varicella, unknown disease history",2 Doses,States,West Virginia,2019-20,97.8,17114.0,49.6,Â¶,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,2161,"Varicella, unknown disease history",2 Doses,States,Wisconsin,2019-20,91.6,67391.0,2.6,â .â¡.Â§,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,2162,"Varicella, unknown disease history",2 Doses,States,Wyoming,2019-20,85.6,7913.0,100.0,*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
# test = chickenpox_cases_df.loc[chickenpox_cases_df['Reporting Area'] == "Massachusetts"]
# test

,Reporting Area,Typhoid Fever,VNC-interm SA,VNC-resistant SA,Varicella Morbidity,Varicella Mortality,Vibriosis Total,Vibriosis Confirmed,Vibriosis Probable,Year
4,Massachusetts,12,1,—,288,N,63,62,1,2016
4,Massachusetts,15,1,1,386,—,72,71,1,2017
4,Massachusetts,17,1,—,289,—,83,79,4,2018
4,Massachusetts,NaN,1,1,301,—,90,76,14,2019
4,Massachusetts,12,1,—,288,N,63,62,1,2016
4,Massachusetts,15,1,1,386,—,72,71,1,2017
4,Massachusetts,17,1,—,289,—,83,79,4,2018
4,Massachusetts,NaN,1,1,301,—,90,76,14,2019
4,Massachusetts,12,1,—,288,N,63,62,1,2016
4,Massachusetts,15,1,1,386,—,72,71,1,2017
4,Massachusetts,17,1,—,289,—,83,79,4,2018
4,Massachusetts,NaN,1,1,301,—,90,76,14,2019
4,Massachusetts,12,1,—,288,N,63,62,1,2016
4,Massachusetts,15,1,1,386,—,72,71,1,2017
4,Massachusetts,17,1,—,289,—,83,79,4,2018
4,Massachusetts,NaN,1,1,301,—,90,76,14,2019